<a href="https://colab.research.google.com/github/yeseul515/sessac_test2/blob/self-study/231018(Wed)_%EB%B9%85%EB%B6%84%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
- pandas의 핵심 객체는 데이터프레임(DataFrame)
- 데이터프레임은 여러 개의 행과 열로 이루어진 2차원 데이터를 담는 데이터 구조체
- 인덱스 : 관계형 데이터베이스 관리 시스템(RDBMS)의 기본키(primary key)처럼 개별 데이터를 고유하게 식별하는 키. 시리즈와 데이터프레임 모두 인덱스를 키로 갖고 있음
- 시리즈 : 컬럼이 하나 뿐인 구조체
- 데이터프레임 : 컬럼이 여러 개인 데이터 구조체. 즉, 데이터프레임은 여러 개의 시리즈로 이루어져있음

## (1) 시리즈(Series)와 데이터프레임(DataFrame) 이해하기

In [ ]:
# 222-01
import pandas as pd

In [ ]:
# 222-02
s = pd.Series([1, 3, 5, 6, 8])

print(s)
print(s.index)
print(s.values)

0    1
1    3
2    5
3    6
4    8
dtype: int64
RangeIndex(start=0, stop=5, step=1)
[1 3 5 6 8]

In [ ]:
# 222-03
v = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
i = ['첫째행', '둘째행', '셋째행']
c = ['컬럼1', '컬럼2', '컬럼3']

df = pd.DataFrame(v, index = i, columns = c)
print(df)

     컬럼1  컬럼2  컬럼3
첫째행    1    2    3
둘째행    4    5    6
셋째행    7    8    9

## (2) 데이터프레임 생성하기
- 리스트와 딕셔너리를 활용해 생성 가능
- 인덱스를 지정하지 않을 경우 자동으로 0부터 채번되어 생성
- 리스트는 행 방향으로 데이터 할당
- 딕셔너리는 열 방향으로 데이터 할당/딕셔너리의 키는 컬럼으로 자동 지정

In [ ]:
# 223-01
d = [
    ['100', '강백호', 9.7],
    ['101', '송태섭', 8.9],
    ['102', '서태웅', 9.3],
    ['103', '채치수', 6.1]
    ]
df = pd.DataFrame(d, columns = ['번호', '이름', '점수'])
print(df)

    번호   이름   점수
0  100  강백호  9.7
1  101  송태섭  8.9
2  102  서태웅  9.3
3  103  채치수  6.1

In [ ]:
# 223-02
d = {
    '번호' : ['100', '101', '102', '103'],
    '이름' : ['강백호', '송태섭', '서태웅', '채치수'],
    '점수' : [9.7, 8.9, 9.3, 6.1]
    }

df = pd.DataFrame(d)
print(df)

    번호   이름   점수
0  100  강백호  9.7
1  101  송태섭  8.9
2  102  서태웅  9.3
3  103  채치수  6.1

### read_csv 함수
- 별다른 매개변수 지정이 없으면 파일의 맨 처음 행을 컬럼명으로 인지하고 컬럼으로 변환
- csv뿐만 아니라 다른 필드 구분 문자 기반의 파일 포맷도 데이터프레임으로 변환 가능(read_csv 함수의 옵션 인자인 sep에 해당 구분 문자 입력→예를 들어 탭으로 필드가 구분되어 있는 경우, read_csv('파일경로', sep='\t')
- sep 옵션 인자가 없으면 자동으로 콤마로 할당

In [ ]:
# 223-03

housing_df = pd.read_csv('/content/sample_data/california_housing_train.csv')

print('housing 변수 type: ', type(housing_df))
print(housing_df)

housing 변수 type:  <class 'pandas.core.frame.DataFrame'>
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

## (3) 데이터프레임 훑어보기
- head(x) : 데이터프레임의 맨 앞에 있는 x개의 행 반환
- shape( ) : 데이터프레임의 행과 열 정보를 튜플 형태로 반환

In [ ]:
print('DataFram 크기 : ', housing_df.shape)
print(housing_df.head(5))

DataFram 크기 :  (17000, 9)
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0

In [ ]:
print(housing_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB
None

In [ ]:
# describe() : 컬럼별 숫자형 데이터의 개수, 평균값, 표준편차, 최소값, 사분위수값, 최대값을 나타냄 // 오직 숫자형 컬럼의 기초 통계 정보만 계산해서 출력
print(housing_df.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

In [ ]:
# 데이터프레임의 []연산자 내부에 '컬럼명'을 입력하면 해당 컬럼에 해당하는 시리즈 객체 반환
housing_median_age = housing_df['housing_median_age']
print(housing_median_age.head())

0    15.0
1    19.0
2    17.0
3    14.0
4    20.0
Name: housing_median_age, dtype: float64

In [ ]:
# 컬럼 값의 유형과 건수 확인. value_count()는 데이터의 분포도를 확인하는 데 유용한 함수(데이터 건수가 많은 순서로 정렬되어 값 반환)
value_counts = housing_median_age.value_counts()
print(value_counts)

52.0    1052
36.0     715
35.0     692
16.0     635
17.0     576
34.0     567
33.0     513
26.0     503
18.0     478
25.0     461
32.0     458
37.0     437
15.0     416
19.0     412
28.0     400
27.0     397
24.0     389
31.0     384
30.0     384
20.0     383
23.0     382
29.0     374
21.0     373
14.0     347
22.0     323
38.0     318
42.0     308
39.0     302
44.0     296
43.0     286
13.0     249
40.0     249
45.0     235
41.0     232
10.0     226
11.0     208
5.0      199
46.0     196
12.0     192
8.0      178
47.0     175
9.0      172
4.0      161
7.0      151
48.0     135
6.0      129
50.0     112
49.0     111
2.0       49
3.0       46
51.0      32
1.0        2
Name: housing_median_age, dtype: int64

## (4) 데이터프레임 컬럼 생성과 수정

In [ ]:
# housing 데이터프레임에 새로운 컬럼 Age_0을 추가하고 일괄적으로 0값 할당
housing_df['Age_0'] = 0
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0
0      1015.0       472.0         1.4936             66900.0      0
1      1129.0       463.0         1.8200             80100.0      0
2       333.0       117.0         1.6509             85700.0      0

In [ ]:
# 기존 컬럼 시리즈의 데이터를 이용해 새로운 컬럼 시리즈 만들기
housing_df['Age_by_10'] = housing_df['housing_median_age'] // 10
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0  Age_by_10
0      1015.0       472.0         1.4936             66900.0      0        1.0
1      1129.0       463.0         1.8200             80100.0      0        1.0
2       333.0       117.0         1.6509             85700.0      0        1.0

In [ ]:
# 데이터프레임 내의 컬럼 값 일괄 수정
housing_df['Age_by_10'] = housing_df['Age_by_10'] * 10
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_0  Age_by_10
0      1015.0       472.0         1.4936             66900.0      0       10.0
1      1129.0       463.0         1.8200             80100.0      0       10.0
2       333.0       117.0         1.6509             85700.0      0       10.0

In [ ]:
value_counts = housing_df['Age_by_10'].value_counts()
print(value_counts)

30.0    4770
20.0    3985
10.0    3739
40.0    2223
50.0    1196
0.0     1087
Name: Age_by_10, dtype: int64

## (5) 데이터프레임 데이터 삭제
- drop(labels, axis = 0, index=None, columns=None, level=None, inplace=False, errors='raise')
- axis=0 → 행 방향 데이터 삭제 / axis=1 → 컬럼 방향 데이터 삭제
- labels에 원하는 컬럼명 입력, axis=1 → 지정된 컬럼 데이터 삭제
- labels에 원하는 인덱스 입려그 axis=0 → 지정된 행 방향 데이터 삭제
- inplace=False → 원 데이터프레임의 데이터는 삭제되지 않음

In [ ]:
# 특정 컬럼 삭제하는 경우
housing_drop_df = housing_df.drop('Age_0', axis=1)
print(housing_drop_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value  Age_by_10
0      1015.0       472.0         1.4936             66900.0       10.0
1      1129.0       463.0         1.8200             80100.0       10.0
2       333.0       117.0         1.6509             85700.0       10.0

In [ ]:
# 여러 개의 컬럼 데이터를 삭제하는 경우
#drop_result = housing_df.drop(['Age_0', 'Age_by_10'], axis=1, inplace=True)
#print('drop_result 반환값 : ', drop_result) # 컬럼이 없어서 반환 안됨
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0

In [ ]:
# 특정 행 삭제
housing_drop_df = housing_df.drop([0, 1, 2], axis=0)
print(housing_drop_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0
5    -114.58     33.63                29.0       1387.0           236.0

   population  households  median_income  median_house_value
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
5       671.0       239.0         3.3438             74000.0

## (6) 데이터프레임 데이터 조회

In [ ]:
# 데이터프레임의 데이터 조회 방법
print('단일 컬럼 데이터 조회: \n', housing_df['housing_median_age'].head(3))
print('\n복수 컬럼 데이터 조회: \n', housing_df[['housing_median_age', 'total_rooms']].head(3))

단일 컬럼 데이터 조회:
 0    15.0
1    19.0
2    17.0
Name: housing_median_age, dtype: float64

복수 컬럼 데이터 조회:
    housing_median_age  total_rooms
0                15.0       5612.0
1                19.0       7650.0
2                17.0        720.0

In [ ]:
# 슬라이싱을 이용하여 데이터 조회하기
print(housing_df[0:3])

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0

In [ ]:
# 논리형 인덱싱 표현
print(housing_df[housing_df['housing_median_age']==30].head(3)) #housing_median_age 컬럼의 데이터 값이 30인 것만 추출

     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
26     -115.37     32.82                30.0       1602.0           322.0
50     -115.52     34.22                30.0        540.0           136.0
101    -115.59     32.69                30.0        935.0           177.0

     population  households  median_income  median_house_value
26       1130.0       335.0         3.5735             71100.0
50        122.0        63.0         1.3333             42500.0
101       649.0       148.0         2.5769             94400.0

In [ ]:
# 논리형 인덱싱(여러개의 복합 조건을 결합하는 경우)
print(housing_df[
                 (housing_df['housing_median_age'] > 30)&
                 (housing_df['total_rooms'] < 100)&
                 (housing_df['median_income'] > 10)
                 ].head(3))

# and = & / or = | / not = ~

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
6030     -118.22     34.06                52.0         48.0             6.0
13055    -121.87     37.46                43.0         91.0            12.0
14501    -122.14     37.50                46.0         30.0             4.0

       population  households  median_income  median_house_value
6030         41.0        10.0        10.2264            112500.0
13055        58.0        16.0        15.0001            500001.0
14501        13.0         5.0        15.0001            500001.0

In [ ]:
# 개별 조건을 변수에 할당하여 이들 변수를 결합해 논리형 인덱싱 수행하기
con1 = housing_df['housing_median_age'] > 30
con2 = housing_df['total_rooms'] < 100
con3 = housing_df['median_income'] > 10

print(housing_df[con1 & con2 & con3].head(3))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
6030     -118.22     34.06                52.0         48.0             6.0
13055    -121.87     37.46                43.0         91.0            12.0
14501    -122.14     37.50                46.0         30.0             4.0

       population  households  median_income  median_house_value
6030         41.0        10.0        10.2264            112500.0
13055        58.0        16.0        15.0001            500001.0
14501        13.0         5.0        15.0001            500001.0

### iloc함수
- 위치 기반 인덱싱을 허용하기 때문에 행과 열의 값으로 정수형 또는 정수형의 슬라이싱 값을 입력해야 함

In [ ]:
print(housing_df.head(3))
print(housing_df.iloc[0, 2]) #데이터프레임의 첫 번째 행, 두번째 컬럼 값 출력

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
15.0

### loc함수
- 명칭 기반으로 데이터 추출
- 행 위치에는 데이터프레임의 인덱스 값, 열 위치에는 컬럼명 입력
- 행의 위치에 슬라이싱을 적용하면 복수 행의 데이터 조회 가능

In [ ]:
print(housing_df.loc[0, 'housing_median_age'])

15.0

In [ ]:
# 복수 행의 데이터 조회
print(housing_df.loc[0:4, 'housing_median_age'])

0    15.0
1    19.0
2    17.0
3    14.0
4    20.0
Name: housing_median_age, dtype: float64

In [ ]:
# 논리형 인덱싱을 활용하여 조건부 데이터 조회하기
print(housing_df.loc[housing_df['housing_median_age']==30, ['housing_median_age', 'total_bedrooms']].head(3))

     housing_median_age  total_bedrooms
26                 30.0           322.0
50                 30.0           136.0
101                30.0           177.0

## (7) 데이터프레임 데이터 정렬과 집계
- sort_values()
- 주요 입력 매개변수: by, ascending, inplace
- by : 해당 컬럼으로 정렬 수행
- asending=True : 오름차순 정렬 / ascending=False : 내림차순 정렬
- inplace=False : 원 데이터프레임 그대로 유지, 정렬된 데이터프레임을 함수 결과로 반환

In [ ]:
#housing_median_age 컬럼 오름차순 정렬
housing_sorted = housing_df.sort_values(by=['housing_median_age'])
print(housing_sorted.head(3))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
13708    -122.00     38.23                 1.0       2062.0           343.0
10993    -120.93     37.65                 1.0       2254.0           328.0
1353     -117.17     34.12                 2.0       3867.0           573.0

       population  households  median_income  median_house_value
13708       872.0       268.0         5.2636            191300.0
10993       402.0       112.0         4.2500            189200.0
1353       1275.0       433.0         5.4138            164400.0

In [ ]:
# 여러 개의 컬럼으로 데이터프레임 정렬
housing_sorted = housing_df.sort_values(by=['housing_median_age', 'total_rooms'], ascending=False)
print(housing_sorted.head(3))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
15772    -122.41     37.79                52.0       6016.0          2509.0
15773    -122.41     37.79                52.0       5783.0          2747.0
11163    -121.03     40.35                52.0       5486.0          1044.0

       population  households  median_income  median_house_value
15772      3436.0      2119.0         2.5166            275000.0
15773      4518.0      2538.0         1.7240            225000.0
11163      1977.0       754.0         2.1833             49500.0

In [ ]:
# sum, count 함수를 적용하여 집계 결과 호출(모든 컬럼에 해당 집계 함수 적용)
print(housing_df.sum() / housing_df.count())

longitude               -119.562108
latitude                  35.625225
housing_median_age        28.589353
total_rooms             2643.664412
total_bedrooms           539.410824
population              1429.573941
households               501.221941
median_income              3.883578
median_house_value    207300.912353
dtype: float64

In [ ]:
# 특정 컬럼에만 집계 함수 적용하기
print(housing_df[['housing_median_age', 'total_rooms']].mean())

housing_median_age      28.589353
total_rooms           2643.664412
dtype: float64

### groupby()
- 입력 매개변수에 컬럼명을 입력하면 대상 컬럼으로 groupby됨
- groupby 입력 매개변수 컬럼을 제외한 모든 컬럼에 해당 집계 함수 적용

In [ ]:
housing_groupby = housing_df.groupby('housing_median_age').mean()
print(housing_groupby.head(3))

                     longitude   latitude  total_rooms  total_bedrooms  \
housing_median_age
1.0                -121.465000  37.940000  2158.000000      335.500000
2.0                -119.035306  35.410816  5237.102041      871.448980
3.0                -118.798478  35.164783  6920.326087     1190.826087

                     population   households  median_income  \
housing_median_age
1.0                  637.000000   190.000000       4.756800
2.0                 2005.224490   707.122449       5.074237
3.0                 2934.673913  1030.413043       5.572013

                    median_house_value
housing_median_age
1.0                      190250.000000
2.0                      229438.836735
3.0                      239450.043478

In [ ]:
# groupby에 특정 컬럼만 집계 함수를 적용하고 싶은 경우
housing_groupby = housing_df.groupby('housing_median_age')[['total_rooms', 'total_bedrooms']].mean()
print(housing_groupby.head(3))

                    total_rooms  total_bedrooms
housing_median_age
1.0                 2158.000000      335.500000
2.0                 5237.102041      871.448980
3.0                 6920.326087     1190.826087

In [ ]:
# groupby를 통해 여러 개의 집계 함수 호출(housing_median_age 별로 total_rooms의 min, max, sum값을 집계 함수로 호출)
housing_groupby = housing_df.groupby('housing_median_age')['total_rooms'].agg([min, max, sum])
print(housing_groupby.head(3))

                       min      max       sum
housing_median_age
1.0                 2062.0   2254.0    4316.0
2.0                   96.0  21897.0  256618.0
3.0                  475.0  21060.0  318335.0

## (8) 데이터프레임 결측치 처리하기
- isna(): 결측치 여부를 확인하는 함수
- fillna(): 결측치를 다른 값으로 대체하는 함수

In [ ]:
import numpy as np

housing_df['Age_na'] = np.nan #Age_na라는 컬럼을 새롭게 만들고, nan값이 있으면 True, 없으면 False 반환
print(housing_df.isna().head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0      False     False               False        False           False
1      False     False               False        False           False
2      False     False               False        False           False

   population  households  median_income  median_house_value  Age_na
0       False       False          False               False    True
1       False       False          False               False    True
2       False       False          False               False    True

In [ ]:
# 결측치 데이터 개수 구하기
print(housing_df.isna().sum())

longitude                 0
latitude                  0
housing_median_age        0
total_rooms               0
total_bedrooms            0
population                0
households                0
median_income             0
median_house_value        0
Age_na                17000
dtype: int64

In [ ]:
# fillna 함수를 이용하여 결측치를 다른 값으로 대체
housing_df['Age_na'] = housing_df['Age_na'].fillna(housing_df['housing_median_age'].mean()) # Age_na에 있는 결측값을 housing_median_age의 평균 값으로 대체하기
print(housing_df.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0

   population  households  median_income  median_house_value     Age_na
0      1015.0       472.0         1.4936             66900.0  28.589353
1      1129.0       463.0         1.8200             80100.0  28.589353
2       333.0       117.0         1.6509             85700.0  28.589353