<a href="https://colab.research.google.com/github/yeseul515/sessac_test2/blob/main/231017(Tue)_Python100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise1-21. Mean Squared Error

In [ ]:
pred1, pred2, pred3 = 10, 20, 30
y1, y2, y3 = 10, 25, 40
n_data = 3

s_error1 = (pred1-y1)**2
s_error2 = (pred2-y2)**2
s_error3 = (pred3-y3)**2

mse = (s_error1 + s_error2 + s_error3)/n_data
print(mse)

41.666666666666664

# Exercise1-22. List 만들기 & 원소 접근하기

In [ ]:
scores = [10, 20, 30]
print(f'scores[0]: {scores[0]}')
print(f'scores[1]: {scores[1]}')
print(f'scores[2]: {scores[2]}')

scores[0]: 10
scores[1]: 20
scores[2]: 30

# Exercise1-23. List의 원소 수정하기

In [ ]:
scores = [10, 20, 30]
print(scores)

[10, 20, 30]

In [ ]:
scores[0] = 100
scores[1] = 200
print(scores)

[100, 200, 30]

# Exercise1-24. 수학 점수들의 평균 구하기

In [ ]:
scores = [10, 20, 30]
n_student = len(scores)

mean = (scores[0] + scores[1] + scores[2])/n_student
print("score mean: ", mean)

score mean:  20.0

# Exercise1-25. Mean Subtranction

In [ ]:
scores = [10, 20, 30]
n_student = len(scores)

mean = (scores[0] + scores[1] + scores[2])/n_student

scores[0] -= mean
scores[1] -= mean
scores[2] -= mean

mean = (scores[0] + scores[1] + scores[2])/n_student
print("score mean: ", mean)

score mean:  0.0

# Exercise1-26. 분산과 표준편차

In [ ]:
scores = [10, 20, 30]
n_student = len(scores)

mean = (scores[0]+scores[1]+scores[2])/n_student
square_of_mean = mean ** 2
mean_of_square = (scores[0]**2 + scores[1]**2 + scores[2]**2)/n_student
variance = mean_of_square - square_of_mean
std = variance ** 0.5

print("score mean: ", mean)
print("score standard deviation: ", std)

score mean:  20.0
score standard deviation:  8.16496580927726

# Exercise1-27. Standardization

In [ ]:
scores = [10, 20, 30]
n_student = len(scores)

mean = (scores[0]+scores[1]+scores[2])/n_student
square_of_mean = mean**2
mean_of_square = (scores[0]**2 + scores[1]**2 + scores[2]**2)/n_student
variance = mean_of_square - square_of_mean
std = variance**0.5

scores[0] = (scores[0] - mean)/std
scores[1] = (scores[1] - mean)/std
scores[2] = (scores[2] - mean)/std

mean = (scores[0]+scores[1]+scores[2])/n_student
square_of_mean = mean**2
mean_of_square = (scores[0]**2 + scores[1]**2 + scores[2]**2)/n_student
variance = mean_of_square - square_of_mean
std = variance**0.5
print("score mean: ", mean)
print("score standard deviation: ", std)

score mean:  0.0
score standard deviation:  1.0

# Exercise1-28. Hadamard Product

In [ ]:
# Method1
v1, v2 = [1, 2, 3], [3, 4, 5]
v3 = [v1[0]*v2[0], v1[1]*v2[1], v1[2]*v2[2]]
print(v3)

[3, 8, 15]

In [ ]:
# Method2
v1, v2 = [1, 2, 3], [3, 4, 5]
v3 = [0, 0, 0]

v3[0] = v1[0]*v2[0]
v3[1] = v1[1]*v2[1]
v3[2] = v1[2]*v2[2]
print(v3)

[3, 8, 15]

# Exercise1-29. list( )와 append( )

In [ ]:
v1 = list()
print(v1)

v1.append(1)
print(v1)

v1.append(2)
print(v1)

v1.append(3)
print(v1)

[]
[1]
[1, 2]
[1, 2, 3]

# Exercise1-30. Hadamard Product

In [ ]:
v1, v2 = [1, 2, 3], [3, 4, 5]
v3 = list()

v3.append(v1[0]*v2[0])
v3.append(v1[1]*v2[1])
v3.append(v1[2]*v2[2])
print(v3)

[3, 8, 15]

# Exercise1-31. Vector Norm

In [ ]:
v1 = [1, 2, 3]

# Method1
norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5
print(norm)

3.7416573867739413

In [ ]:
v1 = [1, 2, 3]

# Method2

norm = 0
norm += v1[0]**2
norm += v1[1]**2
norm += v1[2]**2
norm **= 0.5
print(norm)

3.7416573867739413

# Exercise1-32. Making Unit Vector

In [ ]:
v1 = [1, 2, 3]

norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5
print(norm)

v1 = [v1[0]/norm, v1[1]/norm, v1[2]/norm]
norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5
print(norm)

3.7416573867739413
1.0

# Exercise1-33. Dot Product

In [ ]:
v1, v2 = [1, 2, 3], [3, 4, 5]

# Method1
dot_prod = v1[0]*v2[0] + v1[1]*v2[1] + v1[2]*v2[2]
print(dot_prod)

26

In [ ]:
v1, v2 = [1, 2, 3], [3, 4, 5]
# Method2
dot_prod = 0

dot_prod += v1[0]*v2[0]
dot_prod += v1[1]*v2[1]
dot_prod += v1[2]*v2[2]
print(dot_prod)

26

# Exercise1-34. Euclidean Distance

In [ ]:
v1, v2 = [1, 2, 3], [3, 4, 5]

e_distance = 0

e_distance += (v1[0] - v2[0])**2
e_distance += (v1[1] - v2[1])**2
e_distance += (v1[2] - v2[2])**2
e_distance **= 0.5

print(e_distance)

3.4641016151377544

# Exercise1-35. Mean Squared Error

In [ ]:
predictions = [10, 20, 30]
labels = [10, 25, 40]
n_data = len(predictions)

mse = 0

mse += (predictions[0] - labels[0])**2
mse += (predictions[1] - labels[1])**2
mse += (predictions[2] - labels[2])**2
mse /= n_data
print(mse)

41.666666666666664

# Exercise1-36. for loop으로 list의 원소 접근하기

In [ ]:
scores = [10, 20, 30]

for score in scores:
  print(score)

10
20
30

# Exercise1-37. List 원소들의 합 구하기

In [ ]:
scores = [10, 20, 30]

score_sum = 0
for score in scores:
  score_sum += score
print(score_sum)

60

# Exercise1-38. Iteration 횟수 구하기

In [ ]:
numbers = [1, 4, 5, 6, 4, 2, 1]
iter_cnt = 0

for _ in numbers:
  iter_cnt += 1

print(iter_cnt)

7

# Exercise1-39. 1부터 100까지의 합 구하기

In [ ]:
num_sum = 0

for num in range(101):
  num_sum += num

print(num_sum)

5050

# Exercise1-40. 1부터 100까지 List 만들기

In [ ]:
numbers = list()

for num in range(101):
  numbers.append(num)

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]