<a href="https://colab.research.google.com/github/yeseul515/sessac_test2/blob/main/231016(Mon)_python100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1-1: print( )로 data 출력하기

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Name: ", "Kim YS")

Name:  Kim YS

In [ ]:
print("Age: ", 100)

Age:  100

In [ ]:
print("Grade: ", 4.5)

Grade:  4.5

# Exercise 1-2: int, float, str 변수 할당하고 출력하기

In [ ]:
name = "Kim YS"
math_score = 80
height = 167.1

print("name: ", name)
print("math score: ", math_score)
print("height: ", height)

name:  Kim YS
math score:  80
height:  167.1

# Exercise 1-3: 사칙연산

In [ ]:
int1 = 4
int2 = 2
print(int1 + int2)
print(int1 - int2)
print(int1 * int2)
print(int1 / int2)
print(int1 // int2)
print(int1 % int2)
print(int1 ** int2)

6
2
8
2.0
2
0
16

# Exercise1-4. 사칙연산 결과를 할당하고 출력하기

In [ ]:
int1, int2 = 4, 2

add, sub = int1 + int2, int1 - int2
mul, div = int1 * int2, int1 / int2
quo, rem = int1 % int2, int1**int2

print(add, sub, mul, div, quo, rem)

6 2 8 2.0 0 16

# Exercise1-5. 홀수, 짝수 구하기

In [ ]:
int1, int2, int3, int4 = 1, 2, 3, 4
div = 2

rem1, rem2, rem3, rem4 = int1%div, int2%div, int3%div, int4%div
print(rem1, rem2, rem3, rem4)

1 0 1 0

# Exercise1-6. 자기 자신에 연산하기

In [ ]:
score = 10
print(score)

score += 10
print(score)

score -= 2
print(score)

score *= 5
print(score)

score /= 5
print(score)

score **= 2
print(score)

10
20
18
90
18.0
324.0

# Exercise1-7. 수학 점수의 합 구하기

In [ ]:
score1 = 10
score2 = 20
score3 = 30

score_sum = score1 + score2 + score3
print(score_sum)

60

# Exercise1-8. 수학 점수의 평균 구하기

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1 + score2 + score3) / n_student
print(score_mean)

20.0

# Exercise1-9. 추가 점수를 받은 학생들의 평균

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1+score2+score3)/n_student
print(score_mean)

score1 += 10
score2 += 10
score3 += 10
print(score1, score2, score3)

mean = (score1+score2+score3)/n_student
print(mean)

20.0
20 30 40
30.0

# Exercise1-10. Mean Subtraction

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1+score2+score3)/n_student
print(score_mean)

score1 -= score_mean
score2 -= score_mean
score3 -= score_mean

score_mean = (score1+score2+score3)/n_student
print(score_mean)

20.0
0.0

# Exercise1-11. 평균의 제곱과 제곱의 평균

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3

mean = (score1+score2+score3)/n_student
square_of_mean = mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student

print("square of mean: ", square_of_mean)
print("mean of square: ", mean_of_square)

square of mean:  400.0
mean of square:  466.6666666666667

# Exercise1-12. 분산과 표준편차

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3

mean = (score1+score2+score3)/n_student
square_of_mean = mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student
score_variance = mean_of_square - square_of_mean
score_std = score_variance**0.5

print("score variance: ", score_variance)
print("score standard deviation: ", score_std)

score variance:  66.66666666666669
score standard deviation:  8.16496580927726

# Exercise1-13. standardization

In [ ]:
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1+score2+score3)/n_student
square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student
score_variance = mean_of_square - square_of_mean
score_std = score_variance**0.5

score1 = (score1 - score_mean)/score_std
score2 = (score2 - score_mean)/score_std
score3 = (score3 - score_mean)/score_std

score_mean = (score1+score2+score3)/n_student
square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student
score_variance = mean_of_square - square_of_mean
score_std = score_variance**0.5

print("mean: ", score_mean)
print("std_score std: ", score_std)

mean:  0.0
std_score std:  1.0

# Exercise1-14. Vector-Vector Operations

In [ ]:
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

x3, y3, z3 = x1+x2, y1+y2, z1+z2
x4, y4, z4 = x1-x2, y1-y2, z1-z2
x5, y5, z5 = x1*x2, y1*y2, z1*z2

print(x3, y3, z3)
print(x4, y4, z4)
print(x5, y5, z5)

4 6 8
-2 -2 -2
3 8 15

# Exercise1-15. Scalar-Vector Operations

In [ ]:
a = 10
x1, y1, z1 = 1, 2, 3

x2, y2, z2 = a*x1, a*y1, a*z1
x3, y3, z3 = a+x1, a+y1, a+z1
x4, y4, z4 = a-x1, a-y1, a-z1

print(x2, y2, z2)
print(x3, y3, z3)
print(x4, y4, z4)

10 20 30
11 12 13
9 8 7

# Exercise1-16. Vector Norm

In [ ]:
x, y, z = 1, 2, 3
norm = (x**2 + y**2 + z**2)**0.5
print(norm)

3.7416573867739413

# Exercise1-17. Making Unit Vectors

In [ ]:
x, y, z = 1, 2, 3
norm = (x**2 + y**2 + z**2)**0.5
print(norm)

x1, y1, z1 = x/norm, y/norm, z/norm
norm2 = (x1**2 + y1**2 + z1**2)**0.5
print(norm2)

3.7416573867739413
1.0

# Exercise1-18. Dot Product

In [ ]:
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

dot_prod = (x1*x2) + (y1*y2) + (z1*z2)
print(dot_prod)

26

# Exercise1-19. Euclidean Distance

In [ ]:
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 3, 4, 5

euclidean_dist = ((x1-x2)**2 + (y1-y2)**2 + (z1-z2)**2)**0.5
print(euclidean_dist)

3.4641016151377544

# Exercise1-20. Squared Error

In [ ]:
pred1, pred2, pred3 = 10, 20, 30
y1, y2, y3 = 10, 25, 40

s_error1 = (pred1 - y1)**2
s_error2 = (pred2 - y2)**2
s_error3 = (pred3 - y3)**2

print(s_error1, s_error2, s_error3)

0 25 100